<?xml version='1.0' encoding='UTF-8'?>

<gums version='1.2'>

	<persistenceFactories>

		<hibernatePersistenceFactory
			name='persistenceFactoryA'
			description='h blah'
			hibernate.c3p0.timeout='180'
			hibernate.connection.driver_class='com.mysql.jdbc.Driver'
			hibernate.connection.autoReconnect='true'
			hibernate.c3p0.max_size='20'
			hibernate.dialect='net.sf.hibernate.dialect.MySQLDialect'
			hibernate.c3p0.min_size='3'
			hibernate.connection.username='gums'
			hibernate.connection.url='jdbc:mysql://localhost.localdomain:3306/GUMS_1_1'
			hibernate.connection.password=''/>

	</persistenceFactories>

	<virtualOrganizations>

		<virtualOrganization
			name='virtualOrganizationA'
			description=''
			persistenceFactory='persistenceFactoryA'
			baseUrl='https://lcg-voms.cern.ch:8443/voms'
			sslKey='/etc/grid-security/gumskey.pem'
			sslCertfile='/etc/grid-security/gumscert.pem'
			sslKeyPasswd=''
			sslCAFiles=''/>

	</virtualOrganizations>

	<userGroups>

		<manualUserGroup
			access='write'
			name='admins'
			description=''
			persistenceFactory='persistenceFactoryA'/>

		<vomsUserGroup
			access='read self'
			name='userGroupB'
			description=''
			virtualOrganization='virtualOrganizationA'
			remainderUrl='/atlas/services/VOMSAdmin'
			matchFQAN='exact'
			acceptProxyWithoutFQAN='false'/>

		<ldapUserGroup
			access='read self'
			name='userGroupC'
			description=''
			server='grid-vo.nikhef.nl'
			query='ou=usatlas,o=atlas,dc=eu-datagrid,dc=org'
			certDNField='description'
			persistenceFactory='persistenceFactoryA'/>

	</userGroups>

	<accountMappers>

		<manualAccountMapper
			name='accountMapperA'
			description=''
			persistenceFactory='persistenceFactoryA'/>

		<groupAccountMapper
			name='accountMapperB'
			description=''
			accountName='accountB'/>

		<manualAccountMapper
			name='accountMapperC'
			description=''
			persistenceFactory='persistenceFactoryA'/>

	</accountMappers>

	<groupToAccountMappings>

		<groupToAccountMapping
			name='groupToAccountMappingA'
			description=''
			accountingVo=''
			accountingDesc=''
			userGroups='admins'
			accountMappers='accountMapperA'/>

		<groupToAccountMapping
			name='groupToAccountMappingB'
			description=''
			accountingVo=''
			accountingDesc=''
			userGroups='userGroupB'
			accountMappers='accountMapperB'/>

		<groupToAccountMapping
			name='groupToAccountMappingC'
			description=''
			accountingVo=''
			accountingDesc=''
			userGroups='admins, userGroupB'
			accountMappers='accountMapperA, accountMapperB'/>

	</groupToAccountMappings>

	<hostToGroupMappings>

		<hostToGroupMapping
			groupToAccountMappings='groupToAccountMappingA, groupToAccountMappingB, groupToAccountMappingC'
			description=''
			cn='*.site.com'/>

	</hostToGroupMappings>

</gums>
