<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : gums.config.xml
    Created on : June 9, 2004, 10:05 AM
    Author     : carcassi
    Description:
        Purpose of the document follows.
-->

<gums>
  <persistenceFactories>
<!--    <persistenceFactory name='mysql' className='gov.bnl.gums.MySQLPersistenceFactory' jdbcDriver='com.mysql.jdbc.Driver'
                        jdbcUrl='jdbc:mysql://atlasgrid13.usatlas.bnl.gov/GUMS_1_0' user='gums' password='****' autoReconnect='true' />
    <persistenceFactory name='mysql' className='gov.bnl.gums.BNLPersistenceFactory'
                        mysql.hibernate.connection.username='gums_dev'
                        mysql.hibernate.connection.password='***'
                        mysql.hibernate.connection.url='jdbc:mysql://dbdevel1.usatlas.bnl.gov/GUMS_1_1'
                        mysql.hibernate.connection.driver_class='com.mysql.jdbc.Driver'
                        mysql.hibernate.dialect='net.sf.hibernate.dialect.MySQLDialect'
                        mysql.hibernate.connection.pool_size='3' 
                        ldap.java.naming.provider.url="ldap://rldap02.rcf.bnl.gov/dc=test,dc=bnl,dc=gov"
                        ldap.java.naming.factory.initial="com.sun.jndi.ldap.LdapCtxFactory"
                        ldap.java.naming.security.authentication="simple"
                        ldap.java.naming.security.principal="uid=gumsAdmin,ou=People,dc=test,dc=bnl,dc=gov"/>-->
    <persistenceFactory name='bnl' className='gov.bnl.gums.ldap.LDAPPersistenceFactory'
                        defaultGumsOU='ou=GUMS,dc=test'
                        java.naming.provider.url="ldap://rldap02.rcf.bnl.gov/dc=bnl,dc=gov"
                        java.naming.security.credentials="****"
                        java.naming.security.principal="uid=gumsAdmin,ou=People,dc=test,dc=bnl,dc=gov"/>
  </persistenceFactories>
  <adminUserGroup className='gov.bnl.gums.ManualUserGroup' persistenceFactory='bnl' name='admins' />
  <groupMappings>
    <groupMapping name='fakeIvdgl' accountingVo='ivdgl' accountingDesc='iVDgL'>
      <userGroup className='gov.bnl.gums.ManualUserGroup' persistenceFactory='bnl'
                 name='fakeIvdgl' />
      <accountMapping className='gov.bnl.gums.AccountPoolMapper' persistenceFactory='bnl' name='bnlPool.gridgr01' />
    </groupMapping>
    <groupMapping name='fakeUscms' accountingVo='uscms' accountingDesc='CMS'>
      <userGroup className='gov.bnl.gums.ManualUserGroup' persistenceFactory='bnl'
                 name='fakeUscms' />
      <accountMapping className='gov.bnl.gums.AccountPoolMapper' persistenceFactory='bnl' name='bnlPool.gridgr04' />
    </groupMapping>


<!--    <groupMapping name='btevPool' accountingVo='btev'  accountingDesc='BTeV'>
      <userGroup className='gov.bnl.gums.VOMSGroup' url='https://rls.uits.indiana.edu:8443/edg-voms-admin-ivdgl/services/VOMSAdmin' persistenceFactory='bnl'
                 name='osgbtev' voGroup="/ivdgl/btev" sslCertfile='/etc/grid-security/hostcert.pem' sslKey='/etc/grid-security/hostkey.pem' ignoreFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className='gov.bnl.gums.AccountPoolMapper' persistenceFactory='bnl' name='bnlPool.gridgr03' />
        <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='btev' />
      </compositeAccountMapping>
    </groupMapping>-->

    <groupMapping name="cdfPool" accountingVo="cdf" accountingDesc="CDF">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://voms.cnaf.infn.it:8443/edg-voms-admin/cdf/services/VOMSAdmin" persistenceFactory="bnl" name="osgcdf" voGroup="/cdf" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr12"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="cdf"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="fmriPool" accountingVo="fmri" accountingDesc="FMRI">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin" persistenceFactory="bnl" name="osgfmri" voGroup="/vos/fmri" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="fmri"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr11"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="fmri"/>
      </compositeAccountMapping>
    </groupMapping>

<!--    <groupMapping name='gaduPool' accountingVo='gadu' accountingDesc='GADU'>
      <userGroup className='gov.bnl.gums.VOMSGroup' url='https://voms.fnal.gov:8443/edg-voms-admin/gadu/services/VOMSAdmin' persistenceFactory='bnl'
                 name='osggadu' voGroup="/gadu" sslCertfile='/etc/grid-security/hostcert.pem' sslKey='/etc/grid-security/hostkey.pem' ignoreFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className='gov.bnl.gums.AccountPoolMapper' persistenceFactory='bnl' name='bnlPool.gridgr09' />
        <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='gadu' />
      </compositeAccountMapping>
    </groupMapping>-->

    <groupMapping name="grasePool" accountingVo="grase" accountingDesc="GRASE">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://dylan.ccr.buffalo.edu:8443/edg-voms-admin/GRASE/services/VOMSAdmin" persistenceFactory="bnl" name="osggrase" voGroup="/GRASE/grid" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr08"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="grase"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="ivdglPool" accountingVo="ivdgl" accountingDesc="iVDgL">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin" persistenceFactory="bnl" name="osgivdgl" voGroup="/vos/ivdgl" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr01"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="ivdgl"/>
      </compositeAccountMapping>
    </groupMapping>

<!--    <groupMapping name='ligoPool' accountingVo='ligo' accountingDesc='LIGO'>
      <userGroup className='gov.bnl.gums.VOMSGroup' url='https://ligo-web.aset.psu.edu:8443/edg-voms-admin/LIGO/services/VOMSAdmin' persistenceFactory='bnl'
                 name='osgligo' voGroup="/LIGO" sslCertfile='/etc/grid-security/hostcert.pem' sslKey='/etc/grid-security/hostkey.pem' ignoreFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className='gov.bnl.gums.AccountPoolMapper' persistenceFactory='bnl' name='bnlPool.gridgr02' />
        <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='lsc01' />
      </compositeAccountMapping>
    </groupMapping>-->

<groupMapping name="misPool" accountingVo="mis" accountingDesc="MIS">
    <userGroup className="gov.bnl.gums.VOMSGroup" url="https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin" persistenceFactory="bnl" name="mis" voGroup="/vos/mis" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr13"/>
      </compositeAccountMapping>
</groupMapping>

    <groupMapping name="osgPool" accountingVo="osg" accountingDesc="OSG">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin" persistenceFactory="bnl" name="osgosg" voGroup="/vos/osg" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr10"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="osg"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="sdssPool" accountingVo="sdss" accountingDesc="SDSS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://voms.fnal.gov:8443/edg-voms-admin/sdss/services/VOMSAdmin" persistenceFactory="bnl" name="osgsdss" voGroup="/sdss/production" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr05"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="sdss"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="uscmsPool" accountingVo="uscms" accountingDesc="CMS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://voms.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin" persistenceFactory="bnl" name="osguscms" voGroup="/uscms" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr04"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="uscms01"/>
      </compositeAccountMapping>
    </groupMapping>

    <!-- OSG Atlas maps -->

    <groupMapping name="usatlasPool" accountingVo="usatlas" accountingDesc="ATLAS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://vo.racf.bnl.gov:8443/edg-voms-admin/atlas/services/VOMSAdmin" persistenceFactory="bnl" name="osgusatlas" voGroup="/atlas/usatlas" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="testPool"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="atlasPool" accountingVo="usatlas" accountingDesc="ATLAS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://vo.racf.bnl.gov:8443/edg-voms-admin/atlas/services/VOMSAdmin" persistenceFactory="bnl" name="osgatlas" voGroup="/atlas" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem" matchFQAN="ignore" acceptProxyWithoutFQAN="true"/>
      <compositeAccountMapping>
        <accountMapping className="gov.bnl.gums.AccountPoolMapper" persistenceFactory="bnl" name="bnlPool.gridgr07"/>
        <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="usatlas1"/>
      </compositeAccountMapping>
    </groupMapping>

    <groupMapping name="usatlasProd" accountingVo="usatlas" accountingDesc="ATLAS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://vo.racf.bnl.gov:8443/edg-voms-admin/atlas/services/VOMSAdmin" persistenceFactory="bnl" name="usatlasProd" voGroup="/atlas/usatlas" voRole="production" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem"/>
      <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="usatlas1"/>
    </groupMapping>

    <groupMapping name="usatlasSoft" accountingVo="usatlas" accountingDesc="ATLAS">
      <userGroup className="gov.bnl.gums.VOMSGroup" url="https://vo.racf.bnl.gov:8443/edg-voms-admin/atlas/services/VOMSAdmin" persistenceFactory="bnl" name="usatlasSoft" voGroup="/atlas/usatlas" voRole="software" sslCertfile="/etc/grid-security/hostcert.pem" sslKey="/etc/grid-security/hostkey.pem"/>
      <accountMapping className="gov.bnl.gums.GroupAccountMapper" groupName="usatlas2"/>
    </groupMapping>

  </groupMappings>
  <hostGroups>
    <hostGroup className='gov.bnl.gums.WildcardHostGroup'  wildcard='atestgk01.usatlas.bnl.gov' groups='usatlasProd,usatlasSoft,usatlasPool,ivdglPool,uscmsPool,sdssPool,grasePool,osgPool,fmriPool,cdfPool,atlasPool,misPool' />
    <hostGroup className='gov.bnl.gums.WildcardHostGroup'  wildcard='test.usatlas.bnl.gov' groups='usatlasPool' />
<!--    <hostGroup className='gov.bnl.gums.WildcardHostGroup'  wildcard='*,*.*,*.*.*,*.*.*.*' groups='usatlasGroup,ivdglGroup,ligoGroup,btevGroup,uscmsGroup,sdssGroup,gridexGroup,graseGroup,gaduGroup,osgGroup,fmriGroup,cdfGroup' />-->
  </hostGroups>
</gums>
